:root {
  /* Background colors  */
  --bg-app: #0f172a;
  --bg-card: #1e293b;
  --bg-card-container: #101d31;
  --bg-grey: #454e59; /* hover state for all buttons */

  /* Brand Colors */
  --main-blue: #06b6d4; /* primary buttons */
  --secondary-blue: oklch(30.2% 0.056 229.695);
  /* sidebar buttons on click, diamond tier bg and some icons */
  --hover-grey: #475569; /* hover state for all buttons */

  /* Text color variables */
  --text-main: #ffffff;
  --text-secondary: #9dadc4;
  --text-muted: #64748b;

  /* Tier and tier background colors */
  --tier-gold: #eab308;
  --tier-gold-bg: #765b09;
  --tier-silver: #94a3b8;
  --tier-silver-bg: #48505b;
  --tier-bronze: #f97316;
  --tier-bronze-bg: #67310b;

  /* Status and status background colors */
  --status-success: #10b981; /* Credit / Live / Active */
  --status-success-bg: #0b6044;
  --status-error: #ef4444; /* Debit / Rejected / Warning */
  --status-error-bg: #762323;

  /* Borders */
  --border-main: #383f49;
  --border-secondary: #576373;
  --border-tertiary: #474f5b;
  --border-highlighted: #8a500e;

  /* Border widths */
  --border-thin: 1px;
  --border-thick: 2px; /* for cards and other containers */

  /* font and text sizes */
  --page-title-size: 1.7rem; /* Page Titles */
  --card-title-size: 1.25rem; /* Card Titles */
  --text-size: 1rem; /* Standard text */
  --subscript-text-size: 0.5rem; /* subscript text */

  /* Sidebar and header */
  --sidebar-width: 300px;
  --header-height: 64px;

  /* Spacing variables */
  --space-xss: 0.25rem;
  --space-xs: 0.5rem;
  --space-xsm: 0.75rem;
  --space-xs-plus: 0.85rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-md-plus: 1.75rem;
  --space-lg: 2rem;
  --def-card-gap: 1.25rem;

  /* Border Radius */
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

/* Layouts for containers  */
body {
  margin: 0;
  overflow: hidden;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

main {
  margin-left: var(--sidebar-width);
  height: 100vh;
  overflow-y: auto;
}
