:root {
  /* Background colors  */
  --bg-app: #0f172a;
  --bg-card: #1e293b;

  /* Brand Colors */
  --main-blue: #06b6d4; /* primary buttons */
  --secondary-blue: oklch(
    30.2% 0.056 229.695
  ); /* sidebar buttons on click, diamond tier bg and some icons */
  --hover-grey: #475569; /* hover state for all buttons */

  /* Text color variables */
  --text-main: #ffffff;
  --text-secondary: #94a3b8;
  --text-muted: #64748b;

  /* Tier and tier background colors */
  --tier-gold: #eab308;
  --tier-gold-bg: #b78b08;
  --tier-silver: #94a3b8;
  --tier-silver-bg: #7d8a9b;
  --tier-bronze: #f97316;
  --tier-bronze-bg: #bb5a14;

  /* Status and status background colors */
  --status-success: #10b981; /* Credit / Live / Active */
  --status-success-bg: #0f8d63;
  --status-error: #ef4444; /* Debit / Rejected / Warning */
  --status-error-bg: #ad3232;

  /* Borders */
  --border-main: #383f49;
  --border-secondary: #576373;
  --border-tertiary: #474f5b;

  /* Border widths */
  --border-thin: 1px;
  --border-thick: 2px; /* for cards and other containers */

  /* font and text sizes */
  --page-title-size: 1.7rem; /* Page Titles */
  --card-title-size: 1.25rem; /* Card Titles */
  --text-size: 1rem; /* Standard text */
  --subscript-text-size: 0.5rem; /* subcscript text */

  /* Sidebar and header */
  --sidebar-width: 300px;
  --header-height: 64px;

  /* Spacing variables */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --def-card-gap: 1.25rem;

  /* Border Radius */
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}
